@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

body{
    height: 100%;
    width: 100%;

    /*background-size: 100% 100%;*/
    background-color: #F5F5F5;
}
.frame {
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.center {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;

}

.profile {

    padding: 0;
    text-align: center;
}

.profile > :nth-child(n) {
    float: left;
}

.profile .image {
    width: 40%;
}

.profile .image img {
    height: 100%;
    width: 100%;
}

.image:after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
}

.profile .infoContainer {
    width: 60%;
    height: 100%;
}

.profile .infoContainer:hover #editBtn {
    display: block;
    cursor: pointer;
}

.profile .infoContainer #editBtn {
    display: none;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 1em;
    height: 1em;
}

.formElement {
    display: none;
}

.profile .info {
    width: 60%;
}

.profile .info :nth-child(n) {
    padding: 1em 0;
}

.profile .name {
    font-weight: bolder;
}

.profile .description {
    line-height: 15px;
}

.stats {
    padding: 0;
    width: 100%;
}

.stats .box {
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease-in-out;
    color: white;
    height: 100%;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.box1{

    background-color: #d17a8b;

}
.box2{
    background-color: #c6a535;

}
.box3{
    background-color: #5892cd;
}

.stats .box:hover {

    padding: 1em;

    cursor: pointer;

}



.stats span {
    display: block;
}

.stats .value {
    font-weight: 600;
}

.stats .parameter {
}

.profile input {
    display: none;
}